
/* ========== GLOBAL ========== */
/* #region Global */
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.zindexme {
  z-index: 9;
}

.zindexma {
  z-index: 10;
}

body {
  background-color: #ffffff;
  color: #1A1C1E;
}

/* ========== TYPOGRAPHY ========== */
h1 {
  margin: 30px 0 10px;
  color: #1A1C1E;
}

/* ========== BUTTON ========== */
button {
  color: #ffffff;
  background-color: #1A1C1E;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #3B3D40;
}
/* #endregion */
/* ========== DROPDOWN ========== */
/* #region DropDown */

.Dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  width: fit-content;
  margin: 5px;
  color: #1A1C1E;
}

.Dropdown.active {
  z-index: 999;
}

.dropdown-button {
  position: relative;
  padding-right: 25px;
  color: #1A1C1E;
}

.dropdown-button::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-top-color: #1A1C1E;
}


.Dropdown button,
.Dropdown input[type="text"],
.Dropdown ul {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #E5E7EB;
  border-radius: 100px;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
}

.Dropdown button {
  color: #1A1C1E;
  padding: 6px 10px;
  width: 250px;
  text-align: left;
}

.Dropdown ul {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.Dropdown:hover ul,
.Dropdown:focus-within ul {
  display: block;
}

.Dropdown ul {
  display: none;
}

.Dropdown.active ul {
  display: block;
}

.Dropdown li a {
  display: block;
  padding: 8px 10px;
  color: #1A1C1E;
  text-decoration: none;
}

.Dropdown li a:hover {
  background-color: #1A1C1E;
  color: #ffffff;
}

.Dropdown input[type="text"] {
  padding: 6px;
  margin-bottom: 5px;
  color: #1A1C1E;
  width: 300px;
  border-radius: 100px;
}

/* Scrollbar */
.Dropdown ul::-webkit-scrollbar {
  width: 8px;
}

.Dropdown ul::-webkit-scrollbar-thumb {
  background-color: #1A1C1E;
  border-radius: 10px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
  }

  100% {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  }
}

Button:hover {
  animation: pulse 0.3s ease-out 1 forwards;
}

.Card:hover {
  animation: pulse 0.3s ease-out 1 forwards;
}

.form-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  /* espaçamento entre os blocos */
  justify-content: left;
  align-items: center;
  margin: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  flex: 1 1 auto;
}
input:hover{
  animation: pulse 0.3s ease-out 1 forwards;
}
/* #endregion */
/* ========== RELOGIO ========== */
/* #region Relogio */
.EscolheHorario input[type="time"] {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: fit-content;
  padding: 6px 14px;
  margin: 5px;

  color: #1A1C1E;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #E5E7EB;
  border-radius: 100px;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
}

.relogio::-webkit-datetime-edit-minute,
.relogio::-moz-datetime-edit-minute {
  background-color: black;
  color: white;
}
.relogio:hover::-webkit-datetime-edit-minute {
  background-color: black;
  color: white;
}
/* #endregion */
/* ========== CARD ========== */
/* #region Card */



.Card {

  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  color: #333;
  border: 1px solid #E5E7EB;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  text-align: left;
}

.CardContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 100px;
}

.CardContainer img {
  height: 90%;
  max-height: 60px;
  margin: 10px;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid #1A1C1E;
  flex-shrink: 0;
}

.Card-Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: fit-content;
  color: #1A1C1E;
}

.Card-Frase {
  font-style: italic;
  font-size: small;
  margin-left: 10px;
}

.Card-NomeUsuario {
  font-size: large;
  font-weight: bold;
  margin-left: 10px;
}
.Card-Endereco{
  position: absolute;
  font-size: 0.7rem;
  font-weight: bold;
  align-self: flex-end;
  right: 0; 
  top: 0;
  margin: 10px;
}
.Card-Content button {
  align-self: center;
  background-color: #1A1C1E;
  color: #ffffff;
  padding: 5px 10px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.Card-Content button:hover {
  background-color: #3B3D40;
}
/* #endregion */
/* ========== LISTAGEM ========== */
/* #region Listagem */
.listagem {
  align-self: center;
  align-items: center;
  margin: 10px;
  margin-top: 20px;
}
/* #endregion */